{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}





    <div class="player">
        
        {% if g.user %}
            <div class="sidenav">
                <h2>{{g.user['username']}}</h2>
                <img src="{{ url_for('static', filename='players/body.png' ) }}" />
                <div>Health: {{ g.user['health'] }}/{{ g.user['max_health'] }}</div>
                <div>Action Points: {{ g.user['action_points'] }}/{{ g.user['max_action_points'] }}</div>
            </div>
            <div class="sidenavR">
                <div>Inventory:
                        {% for q in g.inventory %}
                            {{ q['full_name'] }}, 
                        {% endfor %}
                </div>
                <br>
                <div><b>Actions:</b>
                {% for act in allActs %}
                    {{ act }}, 
                {% endfor %}
                </div>
            </div>
        </div>



        <h2>Followers:</h2>
        {%if g.followers %}
            {% for follower in g.followers %}
                <h3>{{ follower['username'] }}</h3>
                <div>Action Points: {{ follower['action_points'] }}/{{ follower['max_action_points'] }}</div>
                

            {% endfor %}
        {% endif %}
        </div>

        <br>
        <div class="player">
            <h2>{{ g.location['full_name'] }}</h2>
            <img src="{{ url_for('static', filename= g.link ) }}" />
            
            <div></div>
            {% if g.ground %}
                <div>On the ground you see a 
                        {% for q in g.ground %}
                            {{ q['full_name'] }}, 
                        {% endfor %}
                    
                    
                    
                </div>
            {% endif %}
            
            {% if g.neighborsVisible %}
                <div>You also see 
                        {% for q in g.neighborsVisible %}
                            {{ q['username'] }} 
                            {% if q['mood'] != 'normal' %}
                                looking all {{q['mood']}}
                            {% endif%},
                        
                        {% endfor %}

                        just a bit too close.
                    
                    
                    
                </div>
            {% endif %}
        </div>

    {% endif %}
    <form method="post">
        <label for="turn_action">Action</label>
        <input name="turn_action" id="turn_action" value="{{ request.form['turn_action'] }}" required>
        <label for="turn_description">Description</label>
        <textarea name="turn_description" id="turn_description">{{ request.form['turn_description'] }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}