{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Your Character</h2>
    {% if g.user %}
    
        <div>Health: {{ g.user['health'] }}<br>Action Points: {{ g.user['action_points'] }}</div>
        <div>Inventory:
                {% for q in g.inventory %}
                    {{ q['full_name'] }}, 
            

                {% endfor %}






        </div>
        <div><b>Actions:</b>
        {% for act in allActs %}
            {{ act }}, 
            

        {% endfor %}
        </div>
        <br>
        <h2>Current Location</h2>
        <div>You like to call this spot the: {{ g.location['full_name'] }}.</div>
        {% if g.ground %}
            <div>On the ground you see a 
                    {% for q in g.ground %}
                        {{ q['full_name'] }}, 
                    {% endfor %}
                
                
                
            </div>
        {% endif %}
        
        {% if g.neighbors %}
            <div>You also see 
                    {% for q in g.neighbors %}
                        {{ q['username'] }}, 
                    {% endfor %}
                    standing a little too close.
                
                
                
            </div>
        {% endif %}

    {% endif %}
    <form method="post">
        <label for="turn_action">Action</label>
        <input name="turn_action" id="turn_action" value="{{ request.form['turn_action'] }}" required>
        <label for="turn_description">Description</label>
        <textarea name="turn_description" id="turn_description">{{ request.form['turn_description'] }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}